<p id="notice"><%= notice %></p>

<p>
  <strong>Importdatetime:</strong>
  <%= @incident_alarm.importDateTime %>
</p>

<%= link_to 'Edit', edit_incident_alarm_path(@incident_alarm) %> |
<%= link_to 'Back', incident_alarms_path %>
